/* start default styles */
*, h1
{
    margin: 0px;
    padding: 0px;
}

html, body
{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    color: #C4C4C4;
}

span {
    display: inline-block;
}

p
{
    font-size: 0.9em;
}

.wanted-hr
{
    margin: 55px 0px;
}

.container
{
    margin: auto;
    width: 1170px; 
}

.title
{
    text-transform: uppercase;
    color: #252F31;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
}

.green-button
{
    color: #2DCC70;
    font-size: 0.9em;
    background-color: transparent;
    border-color:#2DCC70;
    border-style: solid;
    border-width: 2px; 
    padding: 10px 20px;
}

.green-button:hover
{
    color: #FFFFFF;
    background-color: #2DCC70;
    cursor: pointer;
}

.per-90
{
    width: 90%;
}

.per-80
{
    width: 80%;
}

.per-70
{
    width: 70%;
}

.per-60
{
    width: 60%;
}

.arrow-down
{
    width: 0px;
    height: 0px;
    background-color: transparent;
    border: 30px solid transparent;
    border-top-color: inherit;
    margin-bottom: -60px;
}
/* end default styles */

/* start of hero style */
.hero
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/banner.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-text
{
    color: #FFFFFF;
    text-transform: uppercase;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.hero .hero-text h1
{
    border: 0px solid #FFFFFF;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 5px;
}

.hero .hero-text button
{
    background-color: transparent;
    padding: 7px 20px;
    border: 2px solid #FFFFFF;
    color: white;
    text-transform: uppercase;
}
/* end of hero style */

/* start of navbar style */
.navbar
{
    background-color: #252F31;
    padding: 8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navbar .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo 
{
    font-size: 1.2em;
    color: #FFFFFF;
}

.navbar .logo .ficon
{
    background-color: #4D5558;
    padding: 3px 10px;
    margin-right: 8px;
}

.navbar .logo .green
{
    color: #2DCC70;
}

.navbar .nav-links
{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navbar .nav-links li
{
    margin-right: 10px;
}

.navbar .nav-links li:hover
{
    color: #2DCC70;
    cursor: pointer;
}
/* end of navbar style */

/* start of main style */
.main > div:nth-of-type(even)
{
    background-color: #F2F2F2;
    border: 0px solid #F2F2F2;
}

.main > div:nth-of-type(odd)
{
    background-color: #FFFFFF;
    border: 0px solid #FFFFFF;
}

/* end of main style */

/*start of about me style*/

.about-me .container
{
    display: flex;
    justify-content: space-between;
}

.about-me img
{
    width: 33%;
}

.about-me .about-me-content
{
    padding: 50px 0px;
    width: 60%;
}

.about-me .about-me-content p:not(:last-child)
{
    margin-bottom: 25px;
}

.about-me .about-me-content .about-me-skills
{
    display: flex;
    flex-wrap: wrap;
}

.about-me .about-me-content .about-me-skill
{
    display: flex;
    margin-top: 50px;
    width: 50%;
}

.about-me .about-me-content .about-me-skill i
{
    color: green;
    font-size: 1.8em;
    margin-right: 22px;
}
/*start of about me style*/

/* start of values-goals-hobbies style */
.values-goals-hobbies .container
{
    display: flex;
    justify-content: space-between;    
}

.values-goals-hobbies .parts-gap
{
    width: 200px;
}

.values-goals-hobbies .part
{
    margin-top: 60px;
    margin-bottom: 60px;
}


.values-goals-hobbies .part .content
{
    line-height: 1.6;
    text-align: justify;
}
/* end of values-goals-hobbies style */

/* start of my skills style */
.my-skills
{
    padding: 60px 0px;  
}

.my-skills .container
{
    display: flex;
    justify-content: space-between;
}

.my-skills .description 
{
    width: 47%;
}

.my-skills .skills
{
    width: 47%;
}

.my-skills .description h2
{
    font-size: 1em;
    font-weight: bold;
    color: #252F31;
    margin-bottom: 30px;
}

.my-skills .description p
{
    margin-bottom: 30px;
}

.my-skills .skills .skill:not(:last-of-type)
{
    margin-bottom: 15px;
}

.my-skills .skills .skill > p
{
    font-weight: bold;
    color: #252F31;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.my-skills .skills .skill div
{
    background-color: #FFFFFF;
}

.my-skills .skills .skill div p
{
    background-color: #2DCC70;
    line-height: 20px;
    text-align: right;
    padding: 2px;
    color: #FFFFFF;
    
}
/* end of my skills style */

/*start of resume style */
.resume
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.resume .container
{
    margin: 50px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.resume .resume-title
{
    text-align: center;
    padding-bottom: 30px;
    font-size: 1em;
    font-weight: bold;
    color: #252F31;
}

.resume .resume-body
{
    text-align: center;
    padding-bottom: 30px;
}

/* end of resume style */

/* start of education and experience style */
.education-and-experience-section
{
    padding: 30px 0px;
}

.education-and-experience-section .part
{
    display: flex;
    justify-content: space-between;
}

.education-and-experience-section .part .general-description,
.education-and-experience-section .part .info
{
    width: 48%;
}

.education-and-experience-section .part .general-description .description:not(:last-child)
{
    margin-bottom: 30px;
}

.education-and-experience-section .part .info > div
{
    margin-top: 40px;
}



.education-and-experience-section .part .info > div *:not(:last-child)
{
    margin-bottom: 10px;
}

.education-and-experience-section .part .info .title
{
    font-size: 1em;
}

.education-and-experience-section .part .info .green-background
{
    background-color: seagreen;
    color: white;
    padding: 5px;
    width: fit-content;
}


/* end of education and experience style */


/* start of testimonial section */
.testimonial
{
    padding: 60px;
}

.testimonial p
{
    text-align: center;
}

.testimonial p:not(:last-child)
{
    margin-bottom: 25px;
}

.testimonial .title
{
    font-size: 0.8em;
    margin-bottom: 0px;
}
/* end of testimonial section */


/* start of portfolio section */
.portfolio
{
    padding-top: 55px;
}

.portfolio p
{
    text-align: center;
}

.portfolio .photos
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0px;
}

.portfolio .photos img
{
    width: 32%;
    margin-bottom: 24px;
}


/* end of portfolio section */


/* start of contact me section */
.contact-me
{
    background-color:#252F31;
    padding: 60px 0px;
    
}

.contact-me .container
{
    display: flex;
    justify-content: space-between;
}

.contact-me .container > div
{
    width: 48%;
}

.contact-me .title
{
    color: #FFF;
}

.contact-me .information > div
{
    margin-top: 25px;
}

.contact-me .information .contact-methods
{
    width: 50%;
}

.contact-me .information .contact-methods .method
{
    display: flex;
}

.contact-me .information .contact-methods .method .label
{
    color: #FFFFFF;
    width: 50%;
}

.contact-me .form .field
{
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.contact-me .form .field label
{
    font-size: 0.8em;
    margin-bottom: 10px;
}

.contact-me .form .field .field-input
{
    background-color: #4B5557;
    border: none;
    padding: 10px;
}

.contact-me .form .submit-button
{
    background-color: #191E22;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 30px;
}
/* end of contact me section */

/*start of footer section */
.footer
{
    background-color: #191E22;
    padding: 30px;
}

.footer .container p
{
    color: #4B5557;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 20px;
}

.footer .container .social-media-links
{
    color: #4B5557;
    font-size: 1.8em;
    text-align: center;
}

.footer .container .social-media-links i:hover
{
    color: #FFFFFF;
    cursor: pointer;
}
/*end of footer section */