*
{
    margin: 0px;
    padding: 0px;
}

span {
    display: inline-block;
}

.container
{
    margin: auto;
    width: 1170px; 
}

.navbar
{
    background-color: #252F31;
    padding: 8px;
}

.navbar .logo 
{
    color: #FFFFFF;
    font-size: 1.2em;
    text-transform: uppercase;

}

.navbar .logo .ficon
{
    background-color: #4D5558;
    padding: 3px 10px;
    margin-right: 8px;
}

.navbar .logo .green
{
    color: #2DCC70;
}

