*
{
    margin: 0px;
    padding: 0px;
}

span {
    display: inline-block;
}

.container
{
    margin: auto;
    width: 1170px; 
}

.navbar
{
    background-color: #252F31;
    padding: 8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navbar .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo 
{
    font-size: 1.2em;
}

.navbar .logo .ficon
{
    background-color: #4D5558;
    padding: 3px 10px;
    margin-right: 8px;
}

.navbar .logo .green
{
    color: #2DCC70;
}

.navbar .nav-links
{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navbar .nav-links li
{
    margin-right: 10px;
}

.navbar .nav-links li:hover
{
    color: #2DCC70;
    cursor: pointer;
}

